/*css for baged icon*/
.customer-menu .badgeIcon {
    color: #4e5154;
    font-family: 'OpenSansRegular';
    font-size: 14px;
}

.customer-menu .badgeIcon:before {
    content: '(';
}
.customer-menu .badgeIcon:after {
    content: ')';
}

// Css mobile -----------------------------
.mobile-responsive-header .badgeIcon {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
    right: 0;
    top: 15px;
}

@media (max-width: 990px){
    .mobile-responsive-header .badgeIcon {
        top: 17px!important;
        -webkit-border-radius: 50%;
        position: absolute;
        right: 0;
    }

    .head-phone .hedList{
        display: inline-block!important;
    }
}

@media only screen and (max-width: 990px){
    .hedList {
        display: inline-block;
        width: 100%;
        text-align: center;
    }
}

.mobile-responsive-header .badgeIcon:before {
    content: '(';
}

.mobile-responsive-header .badgeIcon:after {
    content: ')';
}

.head-phone .hedList{
    margin-top: 9px;
    font-weight: 600
}
